name: Serve-MLFlow workflow

on:
  push:
    paths:
      - "serve-mlflow/**"

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@main

      - name: 'Build test image'
        run: |
            docker build -t test-image -f ./serve-mlflow/Dockerfile.test ./serve-mlflow

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.7.1
        with:
          image-ref: 'test-image'
          format: 'table'
          severity: 'CRITICAL,HIGH'
          security-checks: 'vuln'
          timeout: '30m0s'
          exit-code: '1'

      - name: 'Run tests'
        env:
          IMAGE_NAME: test-image
        run: | 
          pip install -r ./serve-mlflow/tests/requirements.txt
          python3 -m pytest ./serve-mlflow

  push: 
    if: | 
      github.ref == 'refs/heads/main' &&
      github.repository == 'scilifelabdatacentre/serve-mlflow'
    needs: build_and_test
    runs-on: ubuntu-latest
    concurrency:
      group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
      cancel-in-progress: true
    permissions:
      contents: read
      packages: write
      
    steps:
      - name: 'Checkout github action'
        uses: actions/checkout@main

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/scilifelabdatacentre/serve-mlflow
          tags: |
            type=raw,value={{date 'YYMMDD-HHmm' tz='Europe/Stockholm'}}

      - name: 'Login to GHCR'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Publish image to GHCR
        uses: docker/build-push-action@v3
        with:
          file: ./serve-mlflow/Dockerfile
          context: ./serve-mlflow
          push: true
          build-args: version=${{ github.ref_name }}
          tags: |
            ${{ steps.meta.outputs.tags }}
            ghcr.io/scilifelabdatacentre/serve-mlflow:latest
          labels: ${{ steps.meta.outputs.labels }}
